.courses-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    gap: 0.9em;
}

.courses-list::-webkit-scrollbar {
    width: 12px;
}


.courses-list::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
    border-radius: 15px; /* cor do thumb (a parte móvel da barra de rolagem) */
  }

.course-card {
    width: 100%;
    height: fit-content;
    background-image: url('../img/banner.png');
    display: flex;
    align-items: center;
    gap: 0.7em;
    border:solid 2px #fff;
    justify-content: center;
    border-radius: 30px;
    padding: 0.9em;
    transition: .3s ease-in-out;
}

.function-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em;
}

.function-btn > a {
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 50%;
    border:outset 3px #fff;
}

.course-card:hover {
    background-image: url('../img/banner2.png');
}

.course-card:focus {
    background-image: url('../img/banner2.png');   
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
}