.dec-box {
    background-image: url('../img/banner3.png');
    background-size:cover;
    background-position: center;
    border-radius: 15px;
    width: 100%;
    padding: 1.2em;
    flex-direction: column;
    display: flex;
    gap: 5em;
}

.dec-txt {
    padding: 0.8em;
    background: linear-gradient(to top,  #ba297e, #ba29b8, #8129ba,#5429ba);
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    border-image: linear-gradient(to right, #8129ba, #ba29b8) 8;
}

.dec-message {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

form > input {
    background: linear-gradient(to right,  #ba297e, #ba29b8, #8129ba,#5429ba);  
    font-size: 1.3em;
    transition: .7s linear all;
    border-radius: 30px;
}

form > input:focus, input:hover {
    transform: scale(1.02);
    background: linear-gradient(to left,  #ba297e, #ba29b8, #8129ba,#5429ba);
}

.evaluation {
    padding: 0.9em;
    background-color: #5429ba;
    color: #fff;
    text-align: justify;
}

.evaluation-autor {
    text-align: center;
}