{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/template.css">        
{% endblock %}

{% block utilities %}
    <a class="icon-utility" href="/home">
        <img src="../static/img/home.png" alt="Home">
    </a>
    <a class="icon-utility" href="/perfil/{{ profile }}">
        <img src="../static/img/perfil.png" alt="Home">
    </a>
    <a class="icon-utility" href="/courses?page=1">
        <img src="../static/img/list.png" alt="Home">
    </a>
    <a class="icon-utility" href="/logout">
        <img src="../static/img/logout.png" alt="Home">
    </a>
    
{% endblock %}

{% block content %}
    <div class="template-panel">
        <div class="home-box" id="content-box-template">
            <h3 class="home-text">
                Código disciplina
            </h3>
            <p class="bt-text">
                {{ info[0] }}
            </p>
            <h3 class="home-text">
                Nome disciplina
            </h3>
            <p class="bt-text">
                {{ info[1] }}
            </p>
            <h3 class="home-text">
                Código departamento
            </h3>
            <p class="bt-text">
                {{ info[2] }}
            </p>
        </div>

        <div class="home-box" id="content-box-template">

            <h3 class="home-text">
              Avaliações  
            </h3>

            {% for eval in evals %}

                <div class="eval-box">
                    <div class="comment">
                        <p> {{ eval[1] | safe }}</p>
                    </div>
                    <p> {{ eval[2] }}</p>
        
                    {% if eval[2] == name %}

                        <form action="" method="post" class="denc">
                            <input type="hidden" name="id_delete" value="{{ eval[0] }}">
                            <input type="submit" id="de-btn" value="Excluir avaliação">
                        </form>
            
                    {% endif %}
                    
                    <form action="" method="post" class="denc">
                        <textarea name="denuncia" rows="4" cols="38" class="text-box" placeholder="Achou a avaliação ofensiva? Faça sua denúncia."></textarea>
                        <input type="hidden" name="id" value="{{ eval[0] }}">
                        <input type="submit" id="de-btn" value="Denunciar">
                    </form>
        
                </div>

            {% endfor %}

            <form action="" method="post" class="temp">
                <textarea name="comment" rows="4" cols="38" class="text-box" placeholder="Deixe sua avaliação"></textarea>
                <input type="submit" id="login-btn" value="Enviar">
            </form>

        </div>

        <div class="home-box" id="content-box-template">
            <h3 class="home-text">
                Professores
            </h3>
            
            {% for teacher in teachers %}
                <h3 class="home-text">
                    {{ teacher[1] }}
                </h3>
                
                {% for eval_teacher in evals_teachers[teacher[0]] %}

                    <div class="eval-box">
                        <div class="comment">
                            <p> {{ eval_teacher[1] }}</p>
                        </div>
                        <p> {{ eval_teacher[2] }}</p>

                        <form action="" method="post" class="denc">
                            <textarea name="denuncia" rows="4" cols="38" class="text-box" placeholder="Achou a avaliação ofensiva? Faça sua denúncia."></textarea>
                            <input type="hidden" name="id" value="{{ eval_teacher[0] }}">
                            <input type="submit" id="de-btn" value="Denunciar">
                        </form>

                    </div>

                {% endfor %}

                <form action="" method="post" class="temp">
                    <textarea name="comment" rows="4" cols="38" class="text-box" placeholder="Deixe sua avaliação para este docente"></textarea>
                    <input type="hidden" name="id_prof" value="{{ teacher[0] }}">
                    <input type="submit" id="login-btn" value="Enviar">
                </form>

            {% endfor %}
        
        </div>
    </div>
{% endblock %}